[submodule "src/common-src"]
	path = src/common-src
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-common-src.git
[submodule "build/common-build"]
	path = build/common-build
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-common-build.git
[submodule "ci-scripts/common-ci"]
	path = ci-scripts/common-ci
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-common-ci.git
